ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--grey-900);
  height: 50px;
}

li {
  float: left;
}

.active {
  background-color: pink;
  color: black;
}

li .navButtons {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li .navButtons:hover {
  background-color: #000000;
}
