.tours {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
}

.title {
  text-align: center;
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) {
  .tours {
    grid-template-columns: 1fr;
  }
}
